<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IMDB</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/movies" routerLinkActive="active">Movies</a>
      <li><a routerLink="/television" routerLinkActive="active">Television</a></li>
      <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
      <li><a routerLink="/celebrities" routerLinkActive="active">Celbrities</a></li>
      <li><a routerLink="/admin/test" routerLinkActive="active">Test2</a></li>
      <li class="pull-right" (click)="handleLogin()"><button>Login</button></li>
    </ul>
  </div>
</nav>
